HRServerPlatform2.0.sdf
HRServerPlatform2.0/.vscode/.BROWSE.VC.DB
HRServerPlatform2.0/Debug/HRServerPlatform2.0.Build.CppClean.log
HRServerPlatform2.0/Debug/HRServerPlatform2.0.log
ipch/hrserverplatform2.0-cd47cc93/hrserverplatform2.ipch
